In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("arrestdatany.csv")
df

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,238013474,12/18/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,Q,105,97,18-24,M,BLACK,1057636,203954,40.726187,-73.735234,POINT (-73.73523390399998 40.72618713000002)
1,236943583,11/25/2021,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501500,F,K,69,71,25-44,M,BLACK,1014340,171320,40.636868,-73.891586,POINT (-73.89158591899997 40.63686750900007)
2,234938876,10/14/2021,594.0,OBSCENITY 1,116.0,SEX CRIMES,PL 2631100,F,K,61,0,25-44,M,WHITE,995244,155739,40.594145,-73.960415,POINT (-73.96041495199995 40.59414516900005)
3,234788259,10/11/2021,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501001,F,B,42,71,18-24,M,BLACK,1009058,239616,40.824340,-73.910365,POINT (-73.91036538099996 40.82433953100008)
4,234188790,09/28/2021,578.0,NaN,NaN,NaN,PL 2223001,M,B,44,0,25-44,M,BLACK,1005169,246667,40.843703,-73.924395,POINT (-73.92439508899997 40.84370255600004)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155502,222884924,01/10/2021,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1601001,F,B,46,0,45-64,M,BLACK,1011432,247605,40.846260,-73.901755,POINT (-73.90175529499999 40.846260031000035)
155503,223918625,02/03/2021,792.0,WEAPONS POSSESSION 1 & 2,118.0,DANGEROUS WEAPONS,PL 2650303,F,K,67,0,18-24,M,BLACK,1004940,180941,40.663302,-73.925425,POINT (-73.92542497899994 40.66330200400005)
155504,224323770,02/13/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,S,121,0,45-64,M,BLACK,942825,166367,40.623227,-74.149227,POINT (-74.14922697299994 40.623226819000074)
155505,222599533,01/04/2021,792.0,WEAPONS POSSESSION 1 & 2,118.0,DANGEROUS WEAPONS,PL 2650303,F,K,73,0,25-44,M,BLACK,1007524,188555,40.684194,-73.916085,POINT (-73.91608474599997 40.684194302000044)
155506,224056881,02/06/2021,268.0,CRIMINAL MIS 2 & 3,121.0,CRIMINAL MISCHIEF & RELATED OF,PL 1451000,F,Q,102,0,18-24,M,ASIAN / PACIFIC ISLANDER,1031414,190787,40.690226,-73.829932,POINT (-73.82993153599993 40.69022556600004)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155507 entries, 0 to 155506
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ARREST_KEY                155507 non-null  int64
 1   ARREST_DATE               155507 non-null  object
 2   PD_CD                     155478 non-null  float64
 3   PD_DESC                   155404 non-null  object
 4   KY_CD                     155404 non-null  float64
 5   OFNS_DESC                 155404 non-null  object
 6   LAW_CODE                  155507 non-null  object
 7   LAW_CAT_CD                154114 non-null  object
 8   ARREST_BORO               155507 non-null  object
 9   ARREST_PRECINCT           155507 non-null  int64
 10  JURISDICTION_CODE         155507 non-null  int64
 11  AGE_GROUP                 155507 non-null  object
 12  PERP_SEX                  155507 non-null  object
 13  PERP_RACE                 155507 non-null  object
 14  X_COORD_CD                155507 non-null  int64
 15  Y_COORD_CD                155507 non-null  int64
 16  Latitude                  155507 non-null  float64
 17  Longitude                 155507 non-null  float64
 18  New Georeferenced Column  155507 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 22.5+ MB

In [4]:
df.rename(columns = {"ARREST_DATE": "arrest_date", "OFNS_DESC": "offense", "ARREST_BORO": "borough", "ARREST_PRECINCT":"precinct","AGE_GROUP":"age", "PERP_SEX":"perp_sex","PERP_RACE":"perp_race","Latitude":"latitude","Longitude": "longitude" }, inplace = True)

In [5]:
df

,ARREST_KEY,arrest_date,PD_CD,PD_DESC,KY_CD,offense,LAW_CODE,LAW_CAT_CD,borough,precinct,JURISDICTION_CODE,age,perp_sex,perp_race,X_COORD_CD,Y_COORD_CD,latitude,longitude,New Georeferenced Column
0,238013474,12/18/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,Q,105,97,18-24,M,BLACK,1057636,203954,40.726187,-73.735234,POINT (-73.73523390399998 40.72618713000002)
1,236943583,11/25/2021,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501500,F,K,69,71,25-44,M,BLACK,1014340,171320,40.636868,-73.891586,POINT (-73.89158591899997 40.63686750900007)
2,234938876,10/14/2021,594.0,OBSCENITY 1,116.0,SEX CRIMES,PL 2631100,F,K,61,0,25-44,M,WHITE,995244,155739,40.594145,-73.960415,POINT (-73.96041495199995 40.59414516900005)
3,234788259,10/11/2021,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501001,F,B,42,71,18-24,M,BLACK,1009058,239616,40.824340,-73.910365,POINT (-73.91036538099996 40.82433953100008)
4,234188790,09/28/2021,578.0,NaN,NaN,NaN,PL 2223001,M,B,44,0,25-44,M,BLACK,1005169,246667,40.843703,-73.924395,POINT (-73.92439508899997 40.84370255600004)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155502,222884924,01/10/2021,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1601001,F,B,46,0,45-64,M,BLACK,1011432,247605,40.846260,-73.901755,POINT (-73.90175529499999 40.846260031000035)
155503,223918625,02/03/2021,792.0,WEAPONS POSSESSION 1 & 2,118.0,DANGEROUS WEAPONS,PL 2650303,F,K,67,0,18-24,M,BLACK,1004940,180941,40.663302,-73.925425,POINT (-73.92542497899994 40.66330200400005)
155504,224323770,02/13/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,S,121,0,45-64,M,BLACK,942825,166367,40.623227,-74.149227,POINT (-74.14922697299994 40.623226819000074)
155505,222599533,01/04/2021,792.0,WEAPONS POSSESSION 1 & 2,118.0,DANGEROUS WEAPONS,PL 2650303,F,K,73,0,25-44,M,BLACK,1007524,188555,40.684194,-73.916085,POINT (-73.91608474599997 40.684194302000044)
155506,224056881,02/06/2021,268.0,CRIMINAL MIS 2 & 3,121.0,CRIMINAL MISCHIEF & RELATED OF,PL 1451000,F,Q,102,0,18-24,M,ASIAN / PACIFIC ISLANDER,1031414,190787,40.690226,-73.829932,POINT (-73.82993153599993 40.69022556600004)

In [6]:
df_tidy= df[["arrest_date",
            "PD_DESC",
            "offense",
            "borough",
            "precinct",
            "age",
            "perp_sex",
            "perp_race"
            ]]

df_tidy

,arrest_date,PD_DESC,offense,borough,precinct,age,perp_sex,perp_race
0,12/18/2021,RAPE 1,RAPE,Q,105,18-24,M,BLACK
1,11/25/2021,"ARSON 2,3,4",ARSON,K,69,25-44,M,BLACK
2,10/14/2021,OBSCENITY 1,SEX CRIMES,K,61,25-44,M,WHITE
3,10/11/2021,"ARSON 2,3,4",ARSON,B,42,18-24,M,BLACK
4,09/28/2021,NaN,NaN,B,44,25-44,M,BLACK
...,...,...,...,...,...,...,...,...
155502,01/10/2021,"ROBBERY,OPEN AREA UNCLASSIFIED",ROBBERY,B,46,45-64,M,BLACK
155503,02/03/2021,WEAPONS POSSESSION 1 & 2,DANGEROUS WEAPONS,K,67,18-24,M,BLACK
155504,02/13/2021,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,S,121,45-64,M,BLACK
155505,01/04/2021,WEAPONS POSSESSION 1 & 2,DANGEROUS WEAPONS,K,73,25-44,M,BLACK
155506,02/06/2021,CRIMINAL MIS 2 & 3,CRIMINAL MISCHIEF & RELATED OF,Q,102,18-24,M,ASIAN / PACIFIC ISLANDER

In [7]:
df_tidy.shape

(155507, 8)

In [8]:
date_fil = df_tidy["arrest_date"] >= "['01/01/2021']"
date_fil

0         False
1         False
2         False
3         False
4         False
          ...
155502    False
155503    False
155504    False
155505    False
155506    False
Name: arrest_date, Length: 155507, dtype: bool

In [9]:
date_fil.value_counts() ##need help creating a filter that contains only dates between Jan 2021 and Dec 2021

False    155507
Name: arrest_date, dtype: int64

In [10]:
df_tidy['offense'].unique()

array(['RAPE', 'ARSON', 'SEX CRIMES', nan, 'ASSAULT 3 & RELATED OFFENSES',
       'FELONY ASSAULT', 'DANGEROUS WEAPONS', 'MISCELLANEOUS PENAL LAW',
       'PETIT LARCENY', 'GRAND LARCENY OF MOTOR VEHICLE',
       'DANGEROUS DRUGS', 'NYS LAWS-UNCLASSIFIED FELONY', 'GRAND LARCENY',
       'OTHER OFFENSES RELATED TO THEF',
       'PROSTITUTION & RELATED OFFENSES',
       'OFFENSES AGAINST PUBLIC ADMINI', 'ROBBERY',
       'FOR OTHER AUTHORITIES', 'CRIMINAL MISCHIEF & RELATED OF',
       'OTHER TRAFFIC INFRACTION', 'FORGERY',
       'INTOXICATED & IMPAIRED DRIVING', 'MURDER & NON-NEGL. MANSLAUGHTE',
       'UNAUTHORIZED USE OF A VEHICLE', 'BURGLARY',
       'OFFENSES INVOLVING FRAUD', 'VEHICLE AND TRAFFIC LAWS',
       'OFF. AGNST PUB ORD SENSBLTY &', 'THEFT OF SERVICES',
       'CRIMINAL TRESPASS', 'POSSESSION OF STOLEN PROPERTY',
       'OTHER STATE LAWS (NON PENAL LA', 'FRAUDULENT ACCOSTING',
       'OFFENSES AGAINST THE PERSON', 'FRAUDS', 'OTHER STATE LAWS',
       'THEFT-FRAUD', 'INTOXICATED/IMPAIRED DRIVING', 'GAMBLING',
       'HOMICIDE-NEGLIGENT-VEHICLE', 'ADMINISTRATIVE CODE',
       "BURGLAR'S TOOLS", 'ALCOHOLIC BEVERAGE CONTROL LAW',
       'ENDAN WELFARE INCOMP', 'PARKING OFFENSES',
       'OFFENSES AGAINST PUBLIC SAFETY', 'JOSTLING', 'MOVING INFRACTIONS',
       'KIDNAPPING & RELATED OFFENSES', 'KIDNAPPING',
       'HOMICIDE-NEGLIGENT,UNCLASSIFIE',
       'AGRICULTURE & MRKTS LAW-UNCLASSIFIED',
       'OFFENSES RELATED TO CHILDREN', 'ANTICIPATORY OFFENSES',
       'HARRASSMENT 2', 'DISORDERLY CONDUCT',
       'OTHER STATE LAWS (NON PENAL LAW)',
       'CHILD ABANDONMENT/NON SUPPORT', 'ESCAPE 3',
       'LOITERING/GAMBLING (CARDS, DIC',
       'KIDNAPPING AND RELATED OFFENSES', 'ADMINISTRATIVE CODES',
       'FELONY SEX CRIMES', 'NEW YORK CITY HEALTH CODE'], dtype=object)

In [11]:
## I can glob some of these together (e.g-'INTOXICATED & IMPAIRED DRIVING' and 'INTOXICATED/IMPAIRED DRIVING')

In [12]:
##Checked data and it ONLY contains 2021 data. Filter is no longer needed

In [13]:
df_tidy['offense'].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0                                   RAPE
1                                  ARSON
2                             SEX CRIMES
3                                  ARSON
4                                    NaN
                       ...
155502                           ROBBERY
155503                 DANGEROUS WEAPONS
155504      ASSAULT 3 & RELATED OFFENSES
155505                 DANGEROUS WEAPONS
155506    CRIMINAL MISCHIEF & RELATED OF
Name: offense, Length: 155507, dtype: object>

In [14]:
##Why is arson the number one crime? are fire hazards easily accessible?

In [15]:
df_tidy['perp_sex'].value_counts()

M    128910
F     26597
Name: perp_sex, dtype: int64

In [16]:
##Men have been arrested for more crimes in the city than woman in 2021

In [17]:
df_tidy['perp_race'].value_counts()

BLACK                             77133
WHITE HISPANIC                    38112
WHITE                             17063
BLACK HISPANIC                    13576
ASIAN / PACIFIC ISLANDER           8593
UNKNOWN                             587
AMERICAN INDIAN/ALASKAN NATIVE      443
Name: perp_race, dtype: int64

In [18]:
#Blacks have been arrested for more crimees in 2021 than any other race...

In [19]:
## what is white hispanic?

In [20]:
df_tidy['age'].value_counts()

25-44    88850
45-64    30608
18-24    28951
<18       4800
65+       2298
Name: age, dtype: int64

In [21]:
##It would be interesting to compare this data with previous years to see if certain groups arreest rates have gone done

In [22]:
df_tidy['borough'].value_counts()

K    41550
M    39677
B    34018
Q    33051
S     7211
Name: borough, dtype: int64

In [23]:
##brooklyn has had the most arrests in 2021 , staten island the least.

In [24]:
##COMPARE THIS DATA WITH POPULATIONS TO CREATE RATIOS SO ITS NOT JUST BOROUGH POPULATION SKEWING DATA

In [25]:
df_tidy['PD_DESC'].value_counts()

ASSAULT 3                         19766
LARCENY,PETIT FROM OPEN AREAS,    13143
ASSAULT 2,1,UNCLASSIFIED          11663
ROBBERY,OPEN AREA UNCLASSIFIED     7809
PUBLIC ADMINISTRATION,UNCLASSI     7135
                                  ...
PARKR&R,UNCLASSIFIED VIOLATION        1
VIOLATION OF ORDER OF PROTECTI        1
BRIBERY,FRAUD                         1
LABOR TRAFFICKING                     1
ONE WAY STREET                        1
Name: PD_DESC, Length: 241, dtype: int64

In [26]:
#ok

In [27]:
df_tidy['precinct'].value_counts()

14     4762
44     4387
75     4249
40     4070
47     3489
       ...
100     827
123     798
76      772
111     700
22       50
Name: precinct, Length: 77, dtype: int64

In [28]:
## the most arrests occurred in precinct 14, in manhattan?? look into this later...

In [30]:
df_tidy

,arrest_date,PD_DESC,offense,borough,precinct,age,perp_sex,perp_race
0,12/18/2021,RAPE 1,RAPE,Q,105,18-24,M,BLACK
1,11/25/2021,"ARSON 2,3,4",ARSON,K,69,25-44,M,BLACK
2,10/14/2021,OBSCENITY 1,SEX CRIMES,K,61,25-44,M,WHITE
3,10/11/2021,"ARSON 2,3,4",ARSON,B,42,18-24,M,BLACK
4,09/28/2021,NaN,NaN,B,44,25-44,M,BLACK
...,...,...,...,...,...,...,...,...
155502,01/10/2021,"ROBBERY,OPEN AREA UNCLASSIFIED",ROBBERY,B,46,45-64,M,BLACK
155503,02/03/2021,WEAPONS POSSESSION 1 & 2,DANGEROUS WEAPONS,K,67,18-24,M,BLACK
155504,02/13/2021,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,S,121,45-64,M,BLACK
155505,01/04/2021,WEAPONS POSSESSION 1 & 2,DANGEROUS WEAPONS,K,73,25-44,M,BLACK
155506,02/06/2021,CRIMINAL MIS 2 & 3,CRIMINAL MISCHIEF & RELATED OF,Q,102,18-24,M,ASIAN / PACIFIC ISLANDER

In [32]:
df_tidy['PD_DESC'].value_counts()

ASSAULT 3                         19766
LARCENY,PETIT FROM OPEN AREAS,    13143
ASSAULT 2,1,UNCLASSIFIED          11663
ROBBERY,OPEN AREA UNCLASSIFIED     7809
PUBLIC ADMINISTRATION,UNCLASSI     7135
                                  ...
PARKR&R,UNCLASSIFIED VIOLATION        1
VIOLATION OF ORDER OF PROTECTI        1
BRIBERY,FRAUD                         1
LABOR TRAFFICKING                     1
ONE WAY STREET                        1
Name: PD_DESC, Length: 241, dtype: int64

In [33]:
date_fil = df_tidy["arrest_date"] >= "['06/01/2021']"

TypeError: Invalid comparison between dtype=datetime64[ns] and str